.row
  .col-md-9
    .row
      .col-md-6
        h1 Seo
          strong Market
      .col-md-6
        span Sort By:
        ul.pull-right.sort-by
          li
            a(href="javascript:;", title="calendar")
              i.glyphicon.glyphicon-calendar
          li
            a(href="javascript:;", title="stats")
              i.glyphicon.glyphicon-stats
          li
            a(href="javascript:;", title="rate")
              i.glyphicon.glyphicon-thumbs-up
          li
            a(href="javascript:;", title="like")
              i.glyphicon.glyphicon-heart-empty
          li
            a(href="javascript:;", title="order")
              i.glyphicon.glyphicon-cog
          li
            a(href="javascript:;", title="calendar")
              i.glyphicon.glyphicon-asterisk
    .row
      hr
      .col-md-2.view-type
        a(href="javascript:;", title="Normal view")
          i.glyphicon.glyphicon-th-list
        a(href="javascript:;", title="Thumbnail View")
          i.glyphicon.glyphicon-th
        a(href="javascript:;", title="Table View")
          i.glyphicon.glyphicon-th-large
      .col-md-9.col-md-offset-1
        ul.pagination.pull-right
          li
            a(href='#') «
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »
    .row
      ul.normal-view
        li
          .thumb
            a(href="javascript:;" title="")
              span.label.label-default.feature Feature
              img(src="images/upload/avatar.jpg" alt="avatar").img-circle
          h4
            a(href="#" title="") Do Panda 4.0 Safe 1 PR7, 4 PR6, 10 PR5, 14 PR4, 16 PR3, ... for $12
          .desc Also check this new linkbuilding wonder advance penguin panda safe linkbuilding with al...
          .info
            .author
              i.glyphicon.glyphicon-user
              |  by
              a(href="#" title="author") author 1
            span.flag-icon.flag-icon-gr
            span.label.label-default
              a(href="javascript:;" title="")
                i.glyphicon.glyphicon-asterisk
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-up
                | 123
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-down
                | 4
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-heart
                | 12
            span.label.label-default
              i.glyphicon.glyphicon-signal
                | 456
            a(href="#" title="").label.label-danger.order-btn Order Now
        li
          .thumb
            a(href="javascript:;" title="")
              span.label.label-default.feature Feature
              img(src="images/upload/avatar.jpg" alt="avatar").img-circle
          h4
            a(href="#" title="") Do Panda 4.0 Safe 1 PR7, 4 PR6, 10 PR5, 14 PR4, 16 PR3, ... for $12
          .desc Also check this new linkbuilding wonder advance penguin panda safe linkbuilding with al...
          .info
            .author
              i.glyphicon.glyphicon-user
              |  by
              a(href="#" title="author") author 1
            span.flag-icon.flag-icon-gr
            span.label.label-default
              a(href="javascript:;" title="")
                i.glyphicon.glyphicon-asterisk
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-up
                | 123
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-down
                | 4
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-heart
                | 12
            span.label.label-default
              i.glyphicon.glyphicon-signal
                | 456
            a(href="#" title="").label.label-danger.order-btn Order Now
        li
          .thumb
            a(href="javascript:;" title="")
              span.label.label-default.feature Feature
              img(src="images/upload/avatar.jpg" alt="avatar").img-circle
          h4
            a(href="#" title="") Do Panda 4.0 Safe 1 PR7, 4 PR6, 10 PR5, 14 PR4, 16 PR3, ... for $12
          .desc Also check this new linkbuilding wonder advance penguin panda safe linkbuilding with al...
          .info
            .author
              i.glyphicon.glyphicon-user
              |  by
              a(href="#" title="author") author 1
            span.flag-icon.flag-icon-gr
            span.label.label-default
              a(href="javascript:;" title="")
                i.glyphicon.glyphicon-asterisk
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-up
                | 123
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-down
                | 4
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-heart
                | 12
            span.label.label-default
              i.glyphicon.glyphicon-signal
                | 456
            a(href="#" title="").label.label-danger.order-btn Order Now
        li
          .thumb
            a(href="javascript:;" title="")
              span.label.label-default.feature Feature
              img(src="images/upload/avatar.jpg" alt="avatar").img-circle
          h4
            a(href="#" title="") Do Panda 4.0 Safe 1 PR7, 4 PR6, 10 PR5, 14 PR4, 16 PR3, ... for $12
          .desc Also check this new linkbuilding wonder advance penguin panda safe linkbuilding with al...
          .info
            .author
              i.glyphicon.glyphicon-user
              |  by
              a(href="#" title="author") author 1
            span.flag-icon.flag-icon-gr
            span.label.label-default
              a(href="javascript:;" title="")
                i.glyphicon.glyphicon-asterisk
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-up
                | 123
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-down
                | 4
            span.label.label-default
              i.glyphicon.glyphicon-thumbs-heart
                | 12
            span.label.label-default
              i.glyphicon.glyphicon-signal
                | 456
            a(href="#" title="").label.label-danger.order-btn Order Now
    .row
      ul.thumb-view
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
        li.col-md-3
          .thumbnail
            .img
              a(href="#", title="")
                span.label.label-default.feature Feature
                img(src="images/upload/avatar.jpg", alt="avatar")
            .caption
              .desc
                a(href="#", title="") Boost your ranking on Google within 3 We...
              .info
                .author.pull-left
                  a(href="#" title="author") author 1
                .money.pull-right
                  span $15
    .row
      .table-view
        table.table.table-hover
          thead
            tr
              td.avatar
              td.title Title
              td.like
                i.glyphicon.glyphicon-thumbs-up
              td.dis-like
                i.glyphicon.glyphicon-thumbs-down
              td.view Views
              td.order
          tbody
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order
            tr
              td
                a(href="#", title="").thumbnail
                  img(src="images/upload/avatar.jpg", alt="avatar")
              td
                .title
                  a(href="#", title="") Boost your ranking on Google within 3 Weeks for $15
                .desc
                  p Boost your ranking on google with high quality backlinks.get increase in ranking within 20 to 25 ...
              td 123
              td 19
              td 962456
              td
                a(href="#", title="").btn.btn-primary.btn-xs.order-btn Order

    .row
      .col-md-12
        ul.pagination.pull-right
          li
            a(href='#') «
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »
  .col-md-3
    include ../modules/aside