aside
      h2 Categories
      #accordion.accordion.panel-group
        .panel.panel-default
          .panel-heading
            .panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
              i.glyphicon.glyphicon-tasks
              |  Marketplace
          #collapseOne.panel-collapse.collapse
            .panel-body
              ul.nav.nav-list.primary.pull-bottom.drop
                li
                  a(href='#') recent
                li
                  a(href='#')
                    | Accounts
                    span.badge.pull-right (1,355)
                li
                  a(href='#')
                    | Article Translating
                    span.badge.pull-right (363)
                li
                  a(href='', title='Article-Writing')
                    | Article Writing
                    span.badge.pull-right (2,622)
                li
                  a.hasUl.drop(href='', title='Audio-Music')
                    | Audio & Music
                    span.badge.pull-right (886)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Voice-Over')
                        | Voice Over
                        span.badge.pull-right (176)
                li
                  a(href='', title='Banner-Ads')
                    | Banner Ads
                    span.badge.pull-right (345)
                li
                  a(href='', title='Blogs')
                    | Blogs
                    span.badge.pull-right (1,446)
                li
                  a(href='', title='body-ads')
                    | Body Ads
                    span.badge.pull-right (72)
                li
                  a.hasUl(href='', title='Blackhat-Links')
                    | Bulk Links
                    span.badge.pull-right (17,442)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='scrapebox-blasts')
                        | Blog Comments
                        span.badge.pull-right (4,207)
                    li
                      a(href='', title='Link-Pyramids')
                        | Link Pyramids
                        span.badge.pull-right (2,468)
                    li
                      a(href='', title='Link-Wheel')
                        | Link Wheel
                        span.badge.pull-right (1,871)
                    li
                      a(href='', title='lists')
                        | Lists
                        span.badge.pull-right (712)
                    li
                      a(href='', title='senuke-blasts')
                        | SEnuke X
                        span.badge.pull-right (997)
                    li
                      a(href='', title='Wiki-Links')
                        | Wiki Links
                        span.badge.pull-right (1,171)
                    li
                      a(href='', title='XRumer')
                        | XRumer
                        span.badge.pull-right (668)
                li
                  a(href='', title='design')
                    | Design
                    span.badge.pull-right (2,490)
                li
                  a(href='', title='directory-submission')
                    | Directory Submission
                    span.badge.pull-right (520)
                li
                  a.hasUl(href='', title='Forums')
                    | Forums
                    span.badge.pull-right (548)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Buy-Forum-Posts')
                        | Forum Posts
                        span.badge.pull-right (235)
                    li
                      a(href='', title='Forum-Signature-Links')
                        | Signature Links
                        span.badge.pull-right (98)
                li
                  a(href='', title='Graphics')
                    | Graphics
                    span.badge.pull-right (1,323)
                li
                  a.hasUl(href='', title='Link-Building')
                    | Link Building
                    span.badge.pull-right (5,490)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Site-Links-Sales')
                        | Site Link Sales
                        span.badge.pull-right (834)
                li
                  a.hasUl(href='', title='Other')
                    | Other
                    span.badge.pull-right (5,296)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Gaming')
                        | Gaming
                        span.badge.pull-right (166)
                li
                  a(href='', title='Press-Release')
                    | Press Release
                    span.badge.pull-right (561)
                li
                  a.hasUl(href='', title='Programming')
                    | Programming
                    span.badge.pull-right (2,448)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='html-css-programming')
                        | HTML/CSS
                        span.badge.pull-right (412)
                    li
                      a(href='', title='php-programming')
                        | PHP
                        span.badge.pull-right (204)
                    li
                      a(href='', title='ruby-programming')
                        | Ruby
                        span.badge.pull-right (3)
                    li
                      a(href='', title='wordpress-programming')
                        | Wordpress
                        span.badge.pull-right (948)
                li
                  a(href='', title='Proxies')
                    | Proxies
                    span.badge.pull-right (137)
                li
                  a.hasUl(href='', title='Questions-Answers')
                    | Question/Answer
                    span.badge.pull-right (323)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Yahoo-Answers')
                        | Yahoo Answers
                        span.badge.pull-right (283)
                li
                  a(href='', title='SEO-Reports')
                    | Reports & Whitepapers
                    span.badge.pull-right (578)
                li
                  a(href='', title='reputation-management')
                    | Reputation Management
                    span.badge.pull-right (40)
                li
                  a(href='', title='Servers')
                    | Servers
                    span.badge.pull-right (80)
                li
                  a.hasUl(href='', title='Social-Networks')
                    | Social Networks
                    span.badge.pull-right (64,557)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='facebook')
                        | Facebook
                        span.badge.pull-right (20,412)
                    li
                      a(href='', title='buy-google-plus-one')
                        | Google +1
                        span.badge.pull-right (2,748)
                    li
                      a(href='', title='Instagram')
                        | Instagram
                        span.badge.pull-right (5,962)
                    li
                      a(href='', title='buy-pinterest-followers')
                        | Pinterest
                        span.badge.pull-right (1,619)
                    li
                      a(href='', title='Reverbnation')
                        | Reverbnation
                        span.badge.pull-right (935)
                    li
                      a(href='', title='Social-Bookmarks')
                        | Social Bookmarks
                        span.badge.pull-right (2,500)
                    li
                      a(href='', title='soundcloud')
                        | SoundCloud
                        span.badge.pull-right (3,369)
                    li
                      a(href='', title='buy-twitter-followers')
                        | Twitter Followers
                        span.badge.pull-right (11,213)
                    li
                      a(href='', title='Vine')
                        | Vine
                        span.badge.pull-right (274)
                    li
                      a(href='', title='youtube')
                        | Youtube
                        span.badge.pull-right (10,140)
                li
                  a(href='', title='Solo-Ads')
                    | Solo Ads
                    span.badge.pull-right (261)
                li
                  a(href='', title='Traffic')
                    | Traffic
                    span.badge.pull-right (4,983)
                li
                  a(href='', title='video')
                    | Video
                    span.badge.pull-right (1,467)
                li
                  a.hasUl(href='', title='Virtual-Assistant')
                    | Virtual Assistant
                    span.badge.pull-right (427)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Data-Entry')
                        | Data Entry
                        span.badge.pull-right (281)
                li
                  a.hasUl(href='', title='Web20')
                    | Web 2.0
                    span.badge.pull-right (553)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Hubpage')
                        | Hubpage
                        span.badge.pull-right (22)
                    li
                      a(href='', title='Squidoo')
                        | Squidoo
                        span.badge.pull-right (69)
                li
                  a.hasUl(href='', title='shared-webhosting')
                    | Webhosting
                    span.badge.pull-right (611)
                    i.icon-angle-down.blue
                  ul.sub.hidden
                    li
                      a(href='', title='Cloud-Hosting')
                        | Cloud Hosting
                        span.badge.pull-right (28)
                    li
                      a(href='', title='dedicated-webhosting')
                        | Dedicated
                        span.badge.pull-right (30)
                    li
                      a(href='', title='vps-webhosting')
                        | VPS
                        span.badge.pull-right (174)

        .panel.panel-default
          .panel-heading
            .panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
              i.glyphicon.glyphicon-shopping-cart
              |  Want to Buy
          #collapseTwo.panel-collapse.collapse
            .panel-body
              | Anim pariatur cliche...

        .panel.panel-default
          .panel-heading
            .panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
              i.glyphicon.glyphicon-plane
              |  Want to Trade
          #collapseThree.panel-collapse.collapse
            .panel-body
              | Anim pariatur cliche...

        .panel.panel-default
          .panel-heading
            .panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseA')
              i.glyphicon.glyphicon-retweet
              |  Tweets
          #collapseA.panel-collapse.collapse
            .panel-body
              | Anim pariatur cliche...
        .panel.panel-default
          .panel-heading
            .panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseB')
              i.glyphicon.glyphicon-edit
              |  Articles
          #collapseB.panel-collapse.collapse
            .panel-body
              |  Blog Reviews
        .panel.panel-default
          .panel-heading
            .panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseC')
              i.glyphicon.glyphicon-book
              |  eBooks
          #collapseC.panel-collapse.collapse
            .panel-body
              | Anim pariatur cliche...
      hr
      ul#myTab.nav.nav-tabs
        li.active
          a(href='#new',data-toggle="tab")
            i.glyphicon.glyphicon-star
            |  New
        li
          a(href='#quest',data-toggle="tab")
            i.glyphicon.glyphicon-question-sign
            |  Question
        li
          a(href='#forum',data-toggle="tab")
            i.glyphicon.glyphicon-certificate
            |  Forum
      .tab-content
        #new.tab-pane.active
          ul
            li 1
            li 2
            li 3

        #quest.tab-pane
          ul
            li 4
            li 5
            li 6
        #forum.tab-pane
          ul
            li 7
            li 8
            li 9
      hr
      .about-box
        h3 title about
        .content
          p Bootstrap's CSS is built on Less, a preprocessor with additional functionality like variables, mixins, and functions for compiling CSS. Those looking to use the source Less files instead of our compiled CSS files can make use of the numerous variables and mixins we use throughout the framework.