footer.footer-above
  .row.top-footer
    .container
      .footer-col.col-md-3
        h3 SEOClerks Links
        ul.list-unstyled
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-map-marker
              | Terms of Service
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-lock
              | Privacy Policy
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-lock
              | Infringement
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-share-alt
              | Affiliate Program
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-thumbs-up
              | User Levels
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-bullhorn
              | Promotional Resources
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-bell
              | RSS feed
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-edit
              | API
      .footer-col.col-md-3
        h3 Clerks Network
        ul.list-unstyled
          li
            a(href="#", title="")
              span
              | ionicware

      .footer-col.col-md-3
        h3 Get in touch
        ul.list-unstyled
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-map-marker
              strong Support:
              |  helpdesk.ionicware.com
          li
            a(href="#", title="")
              span.glyphicon.glyphicon-envelope
              strong Email:
              |  support@seoclerks.com
      .footer-col.col-md-3
        h3 SEOClerks Links
        ul.list-unstyled.social-type-1
          li
            a(href="#", title="").btn.btn-social-icon.btn-twitter
              span.fa.fa-twitter
          li
            a(href="#", title="").btn.btn-social-icon.btn-facebook
              span.fa.fa-facebook
          li
            a(href="#", title="").btn.btn-social-icon.btn-google-plus
              span.fa.fa-google-plus
          li
            a(href="#", title="").btn.btn-social-icon.btn-pinterest
              span.fa.fa-pinterest
          li
            a(href="#", title="").btn.btn-social-icon.btn-linkedin
              span.fa.fa-linkedin
  .row.bottom-footer
    .container
      .col-md-2
        a(href="#", title="Ok1Dollar")
              span.glyphicon.glyphicon-stats
              |  Ok1Dollar
      .col-md-5
        p
          span.glyphicon.glyphicon-copyright-mark
          |  Copyright 2014 by Ionicware. All Rights Reserved.
      .col-md-5
        ul.nav.navbar-nav.navbar-right.nav-footer
          li
            a(href="#", title="About") About
          li
            a(href="#", title="FAQ") FAQ
          li
            a(href="#", title="Forum") Forum
          li
            a(href="#", title="Contact Us") Contact Us