header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button(type="button").navbar-toggle.collapsed
        span.sr-only toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="#").navbar-brand Ok1Dollar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle='dropdown') Home
            span.caret
          ul.dropdown-menu
            li
              a(href='#') All
            li
              a(href='#', title='SEO Marketplace') Marketplace
            li
              a(href='#', title='Want to Buy') Want to Buy
            li
              a(href='#', title='Want to Trade') Want to Trade
            li
              a(href='#', title='Buy Tweets') Buy Tweets
            li
              a(href='#', title='Buy Articles') Buy Articles
            li
              a(href='#', title='Buy Blog Reviews') Buy Blog Reviews
            li
              a(href='#', title='Buy eBooks') Buy eBooks
            li
              a(href='#', title='Buy Software') Buy Software
            li
              a(href='#', title='Buy Themes') Buy Themes

        li.dropdown
          a(href="#", data-toggle="dropdown").dropdown-toggle Community
            span.caret
          ul.dropdown-menu
            li
              a(href='#') FAQ
            li
              a(href='#') Forum
            li
              a(href='#') Freelancers
            li
              a(href='#') How it Works

        li
          a(href="#", title="Sell a Service") Sell a Service
        li
          a(href="#", title="Sign In") Sign In
        li
          a(href="#", title="Join") Join

.row.categories-block
  .container
    .col-md-6.social-box
      ul.list-unstyled
        li
          a(href="#", title="").btn.btn-social-icon.btn-twitter
            i.fa.fa-twitter
        li
          a(href="#", title="").btn.btn-social-icon.btn-facebook
            i.fa.fa-facebook
        li
          a(href="#", title="").btn.btn-social-icon.btn-google-plus
            i.fa.fa-google-plus
        li
          a(href="#", title="").btn.btn-social-icon.btn-pinterest
            i.fa.fa-pinterest
        li
          a(href="#", title="").btn.btn-social-icon.btn-linkedin
            i.fa.fa-linkedin
    .col-md-6
      form.pull-right.search-box
        .input-group
          input(type="text",name="search", placeholder="Search").form-control
          .input-group-btn
            button(type="submit").btn.btn-default
              i.glyphicon.glyphicon-search
      .dropdown.pull-right
        button(type="button", data-toggle="dropdown").btn.btn-default.dropdown-toggle Categories
          i.caret
        ul.dropdown-menu
          li
            a(href='#', title="") Action
          li
            a(href='#', title="") Another action
          li
            a(href='#', title="") Something else here
          li.divider
            span Group 1
          li
            a(href='#', title="") menu 1
          li
            a(href='#', title="") menu 2
          li
            a(href='#', title="") menu 3
          li.divider
            span Group 2
          li
            a(href='#', title="") menu 1
          li
            a(href='#', title="") menu 2
          li
            a(href='#', title="") menu 3
          li.divider
            span Group 3
          li
            a(href='#', title="") menu 1
          li
            a(href='#', title="") menu 2
          li
            a(href='#', title="") menu 3
