script(src='js/l10n.js')
script(src='js/libs.js')
script(src='js/plugins.js')
script(src='js/templates.js')
script(src='js/scripts.js')
//- Only use on development environment
script(src='//localhost:35729/livereload.js')
