.container
  .row.clearfix
    .col-md-4.col-md-offset-4
      .page-header
        h2 Đăng ký

      form(role='form')
        div.form-group
          label(for='exampleInputEmail1') Email address
          input#exampleInputEmail1.form-control(type='email')
        div.form-group
          label(for='exampleInputPassword1') Password
          input#exampleInputPassword1.form-control(type='password')

        div.form-group.pull-right
          a.btn.btn-link(href='#/login') Đăng nhập
          button.btn.btn-success(type='submit') Đăng ký
