
div.container
  .row.clearfix
    .col-md-6.col-md-offset-3
      form(role='form')
        div.form-group
          label(for='Service') Service
          input#Service.form-control(type='text', ng-model='url')
        div.form-group
          label(for='Method') Method
          input#Method.form-control(type='text', ng-model='method')
        div.form-group
          label(for='Data') Data
          textarea#Data.form-control(type='text', ng-model='data')
        button.btn.btn-default.pull-right(type='submit', ng-click='submit()') Submit
