.row
  .col-md-6.col-md-offset-3
    div
      h3
        b {{data.To}}
      br
      p
        | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.

      p(ng-bind-html='data.Petition')
      p(ng-bind-html='data.Reason')
