.row
  .col-md-6.col-md-offset-3
    .media(ng-repeat='item in data')
      .media-body
        h2.media-heading
          a(href='#/petition/detail/{{item.id}}') {{item.To}}
          br
          small Phạm Minh Tâm - Oct 25th
        p
          | Một báo cáo từ Hàn Quốc cho biết Samsung đã bán được 4,5 triệu chiếc Galaxy Note 4 trong tháng đầu tiên ra mắt . Đây là con số khá ấn tượng nhưng nó vẫn thua Note 3 đến 500 ngàn chiếc được bán ra ở tháng thứ nhất. Với doanh số Note 4 cải lùi như vậy khó đoán trước doanh thu quý tiếp theo của Samsung ra sao khi nó đã trải qua 3 quý ảm đạm. Dĩ nhiên, doanh thu và lợi nhuận của hãng không đến riêng...
      div.pull-right
        .btn.btn-success.btn-sm 500
        .btn.btn-default.btn-sm Sign
