.row
  .col-md-6.col-md-offset-3
    .media(ng-repeat='item in data')
      .media-body
        h4.media-heading
          a(href='#/petition/detail/{{item.id}}') {{item.to}}
          br
          small Phạm Minh Tâm - Oct 25th
        p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
        //- P {{item.Petition}}
        //- P {{item.Reason}}
      div.pull-right
        .btn.btn-success.btn-sm 500
        .btn.btn-default.btn-sm Sign
