.row
  .col-md-6.col-md-offset-3
    .page-header(style='margin-top:0px')
      h2 TÔI CÓ QUYỀN

    .post
      form.form(role='form')
        .form-group
          label(for='content', style='white-space:nowrap') Bạn muốn họ làm gì?
          textarea#content.form-control(ng-model='post.message', style='min-height:100px')
          p.help-block Ask your petition’s decision maker to do something, as if you were speaking to them directly. For example, “Pay your workers overtime”.

        .form-group.pull-right
          a.btn.btn-default(href='#/')
            | Hủy

          button.btn.btn-success(type='submit', ng-click='submit()' onlick='getPetition()')
            | Đăng bài viết


  .col-md-3
